/* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
body {
  background: lightgoldenrodyellow; /*changed color of background*/
}
h1{
  color: darkolivegreen; /*changed color of heading 1*/
}
h3{
  color: darkgoldenrod; /*changed color of heading 3*/
}
p{
  color: sandybrown; /*changed color of paragraphs*/
}
